/* 
======================
VARIABLES
======================
*/
/* 
======================
BASE
======================
*/
body {
  background-color: #f96262; }

main {
  max-width: 375px;
  margin: 0 auto;
  position: flex; }

.hero {
  background-image: url("../images/hero-mobile.jpg");
  width: 375px;
  height: 250px; }

footer {
  margin-top: 100px; }
