/* 
======================
VARIABLES SASS
======================
*/


// colors
// -------------------------
$color-primary-desaturated: hsl(0, 36%, 70%);
$color-primary-soft: hsl(0, 93%, 68%);
$color-primary-dark-grayish: hsl(0, 6%, 24%);

$gradient-light-init: hsl(0, 0%, 100%);
$gradient-light-end: hsl(0, 100%, 98%);
$gradient-dark-init: hsl(0, 80%, 86%);
$gradient-dark-end: hsl(0, 74%, 74%);


// fonts
// -------------------------
$font-family-body: 'Josefin Sans', sans-serif;
$font-size: 16px;


// breakpoints
// -------------------------

$bp-sm: 375px; // mobile
$bp-lg: 1440px; // desktop



/* 
======================
STYLES
======================
*/




// body
// -------------------------

body {
	margin: 0;
	font-family: $font-family-body;
	font-size: $font-size;
	background-image: linear-gradient(135deg, $gradient-light-init, $gradient-light-end);
	
	@media (min-width: $bp-lg) {
		background:  url('../images/bg-pattern-desktop.svg') no-repeat ;
		background-size: cover;				
	}

}



// main
// -------------------------

main {
	width: $bp-sm;
	margin: 0 auto;

	@media (min-width: $bp-lg) {
		width: $bp-lg;
		display: grid;
		grid-template-columns: 830px 610px;
		grid-template-rows: 180px auto;
	}

}


// logo
// -------------------------

.logo {
	padding: 0 2em;
	height: 84px;
	display: flex;
	align-items: center;
	justify-self: center;
	
		@media (min-width: $bp-lg) {
			grid-column: 1 / span 1;
			grid-row: 1 / span 1;
			padding: 0 3.5em 0 0;
			height: 180px;
			width: 450px;

		}

	&__image {
		width: 100px;
		
		
		@media (min-width: $bp-lg) {
			width: 180px;
			
		}

	}

}


// hero
// -------------------------

.hero {
	background-image: url('../images/hero-mobile.jpg');
	width: $bp-sm;
	height: 250px;
	
	@media (min-width: $bp-lg) {
		background-image: url('../images/hero-desktop.jpg');
		width: 610px;
		height: 800px;
		grid-column: 2 / span 1;
		grid-row: 1 / span 2;
	}

}




// comming
// -------------------------


.comming {
	padding: 4em 2em;
	text-align: center;
	display: flex;
	align-items: center;
	justify-self: center;
	flex-direction: column;
	
	
	@media (min-width: $bp-lg) {
		grid-column: 1 / span 1;
		grid-row: 2 / span 1;
		
		padding: 4em 3.5em 4em 0;
		width: 450px;

		text-align: left;
	}

	&__title {
		margin: 0 0;
		text-transform: uppercase;
		letter-spacing: 0.3em;
		font-size: 2.5em;
		font-weight: 600;
		color: $color-primary-dark-grayish;


		@media (min-width: $bp-lg) {
			font-size: 4em;
		}

		
		&--highlight {
			font-weight: 300;
			color: $color-primary-desaturated;
		}
	}
	&__parraf {
		color: $color-primary-desaturated;
		font-size: 0.9em;
		font-weight: normal;
		line-height: 1.75em;		
		
		@media (min-width: $bp-lg) {
			font-size: 1em;
		}
	}
	&__form {
		margin: 1em 0;
		width: 100%;
	}
	&__email {
		position: relative;
	}
	&__input {
		box-sizing: border-box;
		background: transparent;
		border: 1px solid rgba($color-primary-desaturated, 0.5);
		border-radius: 999px;
		padding: 1.25em;
		width: 100%;
		font-family: $font-family-body;
		&::placeholder{
			color: $color-primary-desaturated;
			opacity: .5;
		}
		&:active, 
		&:focus{
			outline: none;
		}

		@media (min-width: $bp-lg) {
			font-size: 1em;
			padding-left: 1.5em;
		}


	}
	&__error-email-icon{
		position: absolute;
		right: 80px;
		height: 1.2em;
		top: calc(50% - 0.6em);
		@media (min-width: $bp-lg) {
			right: 100px;
		}
		
	}

	&__error-email-message{
		display: block;
		text-align: left;
		padding: .75em 1.5em;
		font-size: 0.75em;
		color: $color-primary-soft;
		@media (min-width: $bp-lg) {
			padding: .75em 1.8em;
		}
	}

	&__button {
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		padding: 0 2em;
		border-radius: 999px;
		border: none;
		background-color: white;
		background-image: linear-gradient(90deg, $gradient-dark-init, $gradient-dark-end);
		box-shadow: 0px 15px 15px rgba($color-primary-desaturated, 0.4);
		&:hover{
			cursor: pointer;
			box-shadow: 0px 15px 15px rgba($color-primary-desaturated, 0.8);
			background-image: linear-gradient(90deg, rgba($gradient-dark-init, 0.6), rgba($gradient-dark-end, 0.6));
		}	
		&:active, 
		&:focus{
			outline: none;
		}	
		
		@media (min-width: $bp-lg) {
			padding: 0 3em;
		}
	}

}




// footer
// -------------------------


footer {
	margin-top: 10px;
}


// helper
// -------------------------

.hidden {
	display: none;
}

// states
// -------------------------

.has-error {	
	border: 1px solid $color-primary-soft;
}


